

/**************background***************/
* {
    box-sizing: border-box;
}

body {
    margin: 0;

    font-size: 17px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
#content{
    margin:auto;
    position: relative;
    top: 0;
    color: #f1f1f1;
    width: 100%;
    padding: 212px;
}


/*****************End background**************/



/********************Sologan****************/
#sologan{
    background-color: rgba(83,164,255,0);
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 3em;
    font-weight: lighter;
    padding: 100px 50px;
}
#sologan > span{
    transform: scale(2);
}
/*******************END Sologan*****************/





/*******************CAROUSEL*****************/
#myCarousel{
    opacity: 0.2;
    transition: all 0.8s;
}
#myCarousel:hover{
    opacity: 1;
}
/*******************END CAROUSEL*****************/


/*******************THUMBNAIL*****************/
#thumbnail{
    margin-top: 50px;
    box-shadow: none;
}
.thumbnail{
    background-color: rgba(83,164,255,0);
    border: none;
    transition: all 1.3s;
    filter: grayscale(100%);
}
.thumbnail > div > img {
    width: 95%;
    padding: 0 0;
}
.thumbnail:hover{
    transform: scale(1.1);
    filter: grayscale(0%);
}


/*******************END THUMBNAIL*****************/





@media only screen and (max-width: 768px) {

}





