/* Force scrollbars onto browser window */

/* Box styles */
.myBox {
    border: none;
    padding: 5px;
    font: 24px/36px sans-serif;
    width: 200px;
    height: 200px;
    overflow: scroll;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 5px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ccc;
}

::-webkit-scrollbar-thumb:hover {
    background: black;
}

#logo > img{
    height: 80px;
    margin-right: 100px;
    transition: all 0.8s;
    margin-top: -25px;

}
#categorized{
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 4em;
    font-weight: lighter;
    padding: 10px 0 30px 300px;
    text-shadow: 3px 3px 4px black;
}

.top_up{
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 4em;
    font-weight: lighter;
    padding: 0 0 10px 30px;
    text-shadow: 3px 3px 4px black;
}
.top_down{
    font-family: 'Slabo 27px', serif;
    font-size: 2em;
    font-weight: lighter;
    padding-left: 30px;
    transition: all 1.3s;
}

.navbar-default{
    color: #fff;
    background-color: #0f4d77;
    border-color: #aca1a2;
    height: 80px;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}
.navbar-default .navbar-nav > li > a{
    color:#fff;

}
.navbar-default .navbar-nav > .dropdown > a .caret{
    border-top-color: #fff;
    border-bottom-color: #fff;
}
.navbar-default .navbar-brand{
    color:#fff;

}
.menu-large {
    position: static !important;
}
.megamenu{
    padding: 20px 0px;
    width:100%;
}
.megamenu> li > ul {
    padding: 0;
    margin: 0;
}
.megamenu> li > ul > li {
    list-style: none;
}
.megamenu> li > ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: lightgray;
    white-space: normal;
    transition: all 1.3s;
}
.megamenu> li ul > li > a:hover,
.megamenu> li ul > li > a:focus {
    text-decoration: none;
    color: black;
    background-color: #f5f5f5;
    transform: scale(1.1);
    /*text-shadow: 2px 2px 3px black;*/
}
.megamenu.disabled > a,
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
    color: #999999;
}
element.style {
    padding-bottom: 45px;
}
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    cursor: not-allowed;
}
.megamenu.dropdown-header {
    color: #428bca;
    font-size: 18px;
}
.dropdown-menu{
    background-color: #047097;
    border-color: #0f4d77;
}
.thumbnail{
    transition: all 1.3s;
}
.thumbnail:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px 30px black;

}
.thumbnail {
    box-shadow: 7px 7px 10px darkgray;
}
.dropdown-toggle{
    font-size: 2em;
    font-family: 'Crete Round', serif;
}
@media (max-width: 768px) {
    .megamenu{
        margin-left: 0 ;
        margin-right: 0 ;
    }
    .megamenu> li {
        margin-bottom: 30px;
    }
    .megamenu> li:last-child {
        margin-bottom: 0;
    }
    .megamenu.dropdown-header {
        padding: 3px 15px !important;
    }
    .navbar-nav .open .dropdown-menu .dropdown-header{
        color:#fff;
    }



    #categorized{
        padding: 10px 0 30px 0;
        text-align: center;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        margin: auto;
        margin-top: 30px;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        background-color: #0f4d77;
        width: 100%;
        border: none;
    }
    .navbar-collapse.in {
        overflow-y: auto;
    }

    .navbar-nav>li>.dropdown-menu {
        margin-top: 170px;}
    #navigation{
        margin: -10px;
        padding: 0;
    }
    #logo > img{
        margin-top: -15px;
    }
    .navbar-default .navbar-nav > li > a {
        padding: 20px 30px;
    }
}


/*FOOTER*/
#footer{
    background-color: #242c42;
    padding: 40px;
    font-family: 'PT Serif', serif;
}
#footer > .container-fluid > div{
    padding: 25px;
}
#footer > .container-fluid > div > div > p{
    color: white;
    padding: 20px 30px;
    text-align: justify;
}
#footer > .container-fluid > div > div > img{
    width: 100%;
}
#footer > .container-fluid > div > h2{
    color: white;
    font-family: 'Crete Round', serif;
}
.address{
    color: white;
    font-size: 1.4em;
    padding: 10px 0;
}
#footer > .container-fluid > div > a > i{
    color: white;
    font-size: 2.8em;
    padding: 20px 5px;
    transition: all 1.3s;
}
#footer > .container-fluid > div > a > i:hover{
    transform: rotate(360deg);
}
#footer > .container-fluid > div > div > img{
    /*position: fixed;*/
    /*z-index: 0;*/
}
#fanpage{
    position: relative;
}

/*END FOOTER*/

@media only screen and (max-width: 1200px){

}