#footer {
    margin-left: -280px;
    width: 2000%;
    margin-top: 200px;
}
#sologan{
    font-family: 'Lobster', cursive;
    color: white;
    margin-top: 100px;
    font-size: 4em;
    padding-top: 10px;
}
#sologan2{
    color: white;
    margin-top: 100px;
    padding-top: 10px;
    font-size: 6em;
    font-family: 'Calistoga', cursive;
}
#product{
    margin-left: -100px;
    width: 120%;
    margin-top: 200px;
}